<%= favicon_link_tag %>
<form action="signedup" method="get">

<h1>らんちたいむなびへようこそ！</h1>
<br>
おなかすきましたね！
<br>
<img border="0" src="/lunch01-1.png" width="256" alt="イラスト">
<br>
<br>
<table>
  <tr>
    <td><%= label_tag :name, 'ユーザID：' %></td>
    <td><%= text_field_tag :name, params[:name] %></td>
  </tr>
  <tr>
    <td><%= label_tag :password, 'パスワード：' %></td>
    <td><%= password_field_tag :password, params[:password] %></td>
  </tr>
  <tr>
    <td></td>
    <td><input name="loginButton" type="submit" value="入る"></td>
  </tr>
</table>
</form>
