<h1>Listing congestions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @congestions.each do |congestion| %>
  <tr>
    <td><%= congestion.name %></td>
    <td><%= congestion.value %></td>
    <td><%= link_to 'Show', congestion %></td>
    <td><%= link_to 'Edit', edit_congestion_path(congestion) %></td>
    <td><%= link_to 'Destroy', congestion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Congestion', new_congestion_path %>
