<%= form_for(@lunch_comment) do |f| %>
  <% if @lunch_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lunch_comment.errors.count, "error") %> prohibited this lunch_comment from being saved:</h2>

      <ul>
      <% @lunch_comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field"> 
  <%= f.hidden_field :lunch_id %>
</div>

<%= render "info" %>

<div class="field">
<table class="lunch_comment">
  <tr>
    <td class="tdh">
      <%= f.label :text %>
    </td>
    <td>
      <%= f.text_area :text , {:maxlength =>255, :size=>"20x5"}%>
	</td>
  </tr>

  <tr>
    <td class="tdh">
    	<%= f.label :name %><br />
    </td>
    <td>
    	<%= f.text_field :name %>
	</td>
  </tr>

  <tr>
    <td class="tdh">
      <%= f.label :rating_id %><br />
    </td>
    <td>
      <%= f.collection_select( :rating_id, @ratings, :id, :name, :include_blank => true ) %><br />
	</td>
  </tr>



</td>
</table>
</div>

  <div class="actions">
    <%= f.submit "登録" ,:class=>"stressbtn"%>
  </div>
<% end %>
</TABLE>