<h1>Listing lunch_comments</h1>

<table>
  <tr>
    <th>Text</th>
    <th>Name</th>
    <th>Rating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lunch_comments.each do |lunch_comment| %>
  <tr>
    <td><%= lunch_comment.text %></td>
    <td><%= lunch_comment.name %></td>
    <% if lunch_comment.rating %> 
      <td><%= lunch_comment.rating.name %></td>
    <% else %>  
      <td></td>
    <% end %>
    <td><%= link_to 'Show', lunch_comment %></td>
    <td><%= link_to 'Edit', edit_lunch_comment_path(lunch_comment) %></td>
    <td><%= link_to 'Destroy', lunch_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to '検索・一覧画面へ', {:controller => "summary_lists"} %>

<%
=begin
%>
<%= link_to 'New Lunch comment', new_lunch_comment_path %>
<%
=end
%>
