<h1>ランチコメント情報</h1>
<div id="menu">
  <ul>
   <li><%= link_to 'TOP', {:controller => "summary_lists"} %></li>
  </ul>
</div>
<p id="notice"><%= notice %></p>

<%= render "info" %>
<table class="lunch_comment">
  <tr>
    <td class="tdh">
      <%= label :lunch_comment, :text %>
    </td>
    <td>
      <%== convertBR(@lunch_comment.text) %>
    </td>
  </tr>

  <tr>
    <td class="tdh">
      <%= label :lunch_comment, :name %>
    </td>
    <td>
      <%= @lunch_comment.name %>
    </td>
  </tr>

  <tr>
    <td class="tdh">
      <%= label :lunch_comment, :rating_id %>
    </td>
    <td>
      <% if @lunch_comment.rating_id %> 
        <%= @lunch_comment.rating.name %>
      <% end %>
    </td>
  </tr>
</table>