<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @lunch_comment.text %>
</p>

<p>
  <b>Name:</b>
  <%= @lunch_comment.name %>
</p>

<p>
  <b>Rating:</b>
  <% if @lunch_comment.rating_id %> 
    <%= @lunch_comment.rating.name %>
  <% end %>
  
</p>
<br />
<%= link_to 'Edit', edit_lunch_comment_path(@lunch_comment) %> |
<%= link_to 'コメント一覧に戻る', lunch_comments_path %>
<br />
<br />
<%= link_to 'ランチ検索に行く', {:controller => "summary_lists"} %>
