<p id="notice"><%= notice %></p>

<p>
  <b><%= label :lunch_comment, :text %>:</b>
  <%= @lunch_comment.text %>
</p>

<p>
  <b><%= label :lunch_comment, :name %>:</b>
  <%= @lunch_comment.name %>
</p>

<p>
  <b><%= label :lunch_comment, :rating_id %>:</b>
  <% if @lunch_comment.rating_id %> 
    <%= @lunch_comment.rating.name %>
  <% end %>
  
</p>
<%= link_to '検索・一覧画面へ', {:controller => "summary_lists"} %>
