<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- restaurant -->
<div id="layout_left">
  <%= render 'restaurant' ,:f=>f %>
</div>

<div id="layout_left">
<!-- lunch --->
  <%= f.fields_for :lunch do |f2| %>
    <%= render "lunch" , :f2=>f2%>
<!-- lunch_comment --->
    <%= f2.fields_for :lunch_comment do |f3| %>
      <%= render "lunch_comment" , :f3=>f3%>
    <% end %>
<% end %>
</div>


  <div class="actions layout_clear">
    <%= f.submit "登録"%>
  </div>
<% end %>



