<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<TABLE BORDER=0 CELLPADDING=10 BGCOLOR="LIME"><TR><TD VALIGN="TOP">

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :telephoneNumber %><br />
    <%= f.text_field :telephoneNumber %>
  </div>

</TD><TD VALIGN="TOP"><br />

  <div class="field">
    <%= f.label :reservation %>
    <%= f.check_box :reservation %>
  </div>
  <div class="field">
    <%= f.label :memo %><br />
    <%= f.text_field :memo %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>

</TD><TD VALIGN="TOP"><br />

開店日<BR />
  <div class="field">
    <%= f.label :sun %>
    <%= f.check_box :sundayUp %>
  </div>
  <div class="field">
    <%= f.label :mon %>
    <%= f.check_box :mondayUp %>
  </div>
  <div class="field">
    <%= f.label :tue %>
    <%= f.check_box :tuesdayUp %>
  </div>
  <div class="field">
    <%= f.label :wed %>
    <%= f.check_box :wednesdayUp %>
  </div>
  <div class="field">
    <%= f.label :thu %>
    <%= f.check_box :thursdayUp %>
  </div>
  <div class="field">
    <%= f.label :fri %>
    <%= f.check_box :fridayUp %>
  </div>
  <div class="field">
    <%= f.label :sat %>
    <%= f.check_box :saturdayUp %>
  </div>

</TD><TD VALIGN="TOP"><br />
ランチタイム<BR />
  <div class="field">
    <%= f.label :From %><br />
    <%= f.time_select :startTime, :default => Time.gm(2012, 11, 11, 11, 00, 00) %>
  </div>
  <div class="field">
    <%= f.label :To %><br />
    <%= f.time_select :endTime, :default => Time.gm(2012, 11, 11, 15, 00, 00) %>
  </div>

</TD></TR></TABLE>

<!-- lunch --->

<TABLE BORDER=0 CELLPADDING=5 CELLSPACING=1>
<TR><TD BGCOLOR="PINK" VALIGN="TOP">

-- ランチ情報 --<BR />

<!-- lunch --->
<%= f.fields_for :lunch do |f2| %>
  <div class="field">
    <%= f2.label :name %><br />
    <%= f2.text_field :name %>
  </div>
  <div class="field">
    <%= f2.label :price %><br />
    <%= f2.number_field :price %>
  </div>

<!-- genre --->
  <div class="field">
    <%= f2.label :genre %><br />
    <%= f2.collection_select( :genre_id, @genres, :id, :name ) %>
  </div>

</TD>
<TD BGCOLOR="ORANGE" VALIGN="TOP">

-- コメント --<BR />

<!-- lunch_comment --->
<%= f2.fields_for :lunch_comment do |f3| %>
  <div class="field">
    <%= f3.label :text %><br />
    <%= f3.text_area :text, :size=>"45x4" %>
  </div>
  <div class="field">
    <%= f3.label :name %><br />
    <%= f3.text_field :name %>
  </div>

<!-- rating --->
  <div class="field">
    <%= f3.label :rating %><br />
    <%= f3.collection_select( :rating_id, @ratings, :id, :name ) %>
  </div>

<% end %>

<% end %>
</TD></TR></TABLE>


<BR />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



