<p id="notice"><%= notice %></p>

<TABLE BORDER=0 CELLPADDING=10 BGCOLOR="LIME">
<TR>
<TD VALIGN="TOP">
<p>
  <b><%= label :restaurant, :name %>:</b>
  <%= @restaurant.name %>
</p>

<p>
  <b><%= label :restaurant, :postcode %>:</b>
  <%= @restaurant.postcode %>
</p>

<p>
  <b><%= label :restaurant, :address %>:</b>
  <%= @restaurant.address %>
</p>

<p>
  <b><%= label :restaurant, :telephoneNumber %>:</b>
  <%= @restaurant.telephoneNumber %>
</p>
</TD>

<TD VALIGN="TOP">
<p>
  <b><%= label :restaurant, :reservation %>:</b>
  <%= @restaurant.reservation %>
</p>

<p>
  <b><%= label :restaurant, :memo %>:</b>
  <%= @restaurant.memo %>
</p>

<p>
  <b><%= label :restaurant, :url %>:</b>
  <%= @restaurant.url %>
</p>

<p>
  <b><%= label :restaurant, :email %>:</b>
  <%= @restaurant.email %>
</p>
</TD>

<TD VALIGN="TOP">
<p>
  <b><%= label :restaurant, :sundayUp %>:</b>
  <%= @restaurant.sundayUp %>
</p>

<p>
  <b><%= label :restaurant, :mondayUp %>:</b>
  <%= @restaurant.mondayUp %>
</p>

<p>
  <b><%= label :restaurant, :tuesdayUp %>:</b>
  <%= @restaurant.tuesdayUp %>
</p>

<p>
  <b><%= label :restaurant, :wednesdayUp %>:</b>
  <%= @restaurant.wednesdayUp %>
</p>

<p>
  <b><%= label :restaurant, :thursdayUp %>:</b>
  <%= @restaurant.thursdayUp %>
</p>

<p>
  <b><%= label :restaurant, :fridayUp %>:</b>
  <%= @restaurant.fridayUp %>
</p>

<p>
  <b><%= label :restaurant, :saturdayUp %>:</b>
  <%= @restaurant.saturdayUp %>
</p>

<p>
  <b><%= label :restaurant, :startTime %>:</b>
  <%= @restaurant.startTime %>
</p>

<p>
  <b><%= label :restaurant, :endTime %>:</b>
  <%= @restaurant.endTime %>
</p>
</TABLE>
<br />
<%= link_to '検索・一覧画面へ', {:controller => "summary_lists"} %>
