<h1>レストラン情報</h1>
<div id="menu">
  <ul>
   <li><%= link_to 'TOP', {:controller => "summary_lists"} %></li>
  </ul>
</div>
<p id="notice"><%= notice %></p>

<table class="restaurant">
  <tr>
    <td class="tdh">
      <%= label :restaurant, :name %>
    </td>
    <td>
	  <%= @restaurant.name %>
    </td>
  </tr>

  <tr>
    <td class="tdh">
	  <%= label :restaurant, :address %>
    </td>
    <td>
      <% unless @restaurant.postcode.nil? %> 
        〒<%= @restaurant.postcode %><br>
      <% end %>
      <%= @restaurant.address %>
    </td>
  </tr>

  <tr>
    <td class="tdh">
      <%= label :restaurant, :telephoneNumber %>
    </td>
    <td>
      <%= @restaurant.telephoneNumber %>
    </td>
  </tr>

  <tr>
    <td class="tdh">
      <%= label :restaurant, :reservation %>
    </td>
　  <td>
      <%= display_reservation(@restaurant.reservation) %>
    </td>
  </tr>

  <tr>
    <td class="tdh">
      <%= label :restaurant, :memo %>
	</td>
    <td>
      <%== convertBR(@restaurant.memo) %>
	</td>
  </tr>

  <tr>
    <td class="tdh">
      <%= label :restaurant, :url %>
    </td>
	<td>
      <%= @restaurant.url %>
    </td>
  </tr>

  <tr>
    <td class="tdh">
      <%= label :restaurant, :email %>
    </td>
	<td>
      <%= @restaurant.email %>
    </td>
  </tr>


  <tr>
    <td class="tdh">
      <%= label :restaurant, :bussinessday %>
	</td>

	<td>
    <%= label :restaurant, :sundayUp %>:
    <%= display_bool(@restaurant.sundayUp) %>

	<%= label :restaurant, :mondayUp %>:
    <%= display_bool(@restaurant.mondayUp) %>

    <%= label :restaurant, :tuesdayUp %>:
    <%= display_bool(@restaurant.tuesdayUp) %>

    <%= label :restaurant, :wednesdayUp %>:
    <%= display_bool(@restaurant.wednesdayUp) %>

    <%= label :restaurant, :thursdayUp %>:
    <%= display_bool(@restaurant.thursdayUp) %>

    <%= label :restaurant, :fridayUp %>:
    <%= display_bool(@restaurant.fridayUp) %>

    <%= label :restaurant, :saturdayUp %>:
    <%= display_bool(@restaurant.saturdayUp) %>
    </td>
  </tr>
 
  <tr>
    <td class="tdh">
      <%= label :restaurant, :lunchtime %>:
	</td>

    <td> 
	<%= @restaurant.startTime.strftime('%H:%M') %>
    　〜　
    <%= @restaurant.endTime.strftime('%H:%M') %>
  </tr>

  <tr>
    <td class="tdh">
      <%= label :restaurant, :congestion_id%>
	</td>
	<td>
  <% if @restaurant.congestion %>
	<%= @restaurant.congestion.name %>
  <% end %>
	</td>

</TABLE>
