<p id="notice"><%= notice %></p>

<TABLE BORDER=0 CELLPADDING=10 BGCOLOR="LIME">
<TR>
<TD VALIGN="TOP">
<p>
  <b>Name:</b><br/>
  <%= @restaurant.name %>
</p>

<p>
  <b>Address:</b><br />
  <%= @restaurant.address %>
</p>

<p>
  <b>TelephoneNumber:</b><br />
  <%= @restaurant.telephoneNumber %>
</p>
</TD>

<TD VALIGN="TOP">
<p>
  <b>Reservation:</b><br />
  <%= @restaurant.reservation %>
</p>

<p>
  <b>Memo:</b><br />
  <%= @restaurant.memo %>
</p>

<p>
  <b>Url:</b><br />
  <%= @restaurant.url %>
</p>

<p>
  <b>Email:</b><br />
  <%= @restaurant.email %>
</p>
</TD>

<TD VALIGN="TOP">
<p>
  <b>Sun:</b>
  <%= @restaurant.sundayUp %>
</p>

<p>
  <b>Mon:</b>
  <%= @restaurant.mondayUp %>
</p>

<p>
  <b>Tue:</b>
  <%= @restaurant.tuesdayUp %>
</p>

<p>
  <b>Wed:</b>
  <%= @restaurant.wednesdayUp %>
</p>

<p>
  <b>Thu:</b>
  <%= @restaurant.thursdayUp %>
</p>

<p>
  <b>Fri:</b>
  <%= @restaurant.fridayUp %>
</p>

<p>
  <b>Sat:</b>
  <%= @restaurant.saturdayUp %>
</p>

<p>
  <b>From:</b><br />
  <%= @restaurant.startTime %>
</p>

<p>
  <b>To:</b><br />
  <%= @restaurant.endTime %>
</p>
</TABLE>

<%= link_to 'レストラン一覧に戻る', restaurants_path %>
<br />
<br />
<%= link_to 'ランチ検索に行く', {:controller => "summary_lists"} %>
