<%= form_for(@lunch) do |f| %>
  <% if @lunch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lunch.errors.count, "error") %> prohibited this lunch from being saved:</h2>

      <ul>
      <% @lunch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= render "restaurant" %>

<div class="field">
 <%= hidden_field :lunch, :restaurant_id %>
  <table class="lunch">
    <tr>
      <td class="tdh">  
        <%= f.label :name %>
	  </td>
	  <td>
        <%= f.text_field :name %>
	  </td>
	</tr>

    <tr>
      <td class="tdh">  
	    <%= f.label :price %>
	  </td>
	  <td>
        <%= f.number_field :price %>
	  </td>
	</tr>


    <tr>
      <td class="tdh">  
	    <%= f.label :image %>
	  </td>
	  <td>
        <%= f.file_field :image %>
	  </td>
	</tr>

    <tr>
      <td class="tdh">  
	    <%= f.label :withdrink %>
	  </td>
	  <td>
        <%= f.check_box :withdrink %>
	  </td>
	</tr>

    <tr>
      <td class="tdh">  
    	<%= f.label :genre_id %>
	  </td>
	  <td>
        <%= f.collection_select( :genre_id, @genres, :id, :name, :include_blank => true ) %>
	  </td>
	</tr>
  </table>
</div>

  <div class="actions">
    <%= f.submit "登録" ,:class=>"stressbtn"%>
  </div>
<% end %>
