<%= form_for(@lunch) do |f| %>
  <% if @lunch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lunch.errors.count, "error") %> prohibited this lunch from being saved:</h2>

      <ul>
      <% @lunch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table class="restaurant">
<td>
  <div class="field">
    <%= f.label :restaurant %><br />
    <%= @restaurant.name %>
    <%= hidden_field :lunch, :restaurant_id %>
  </div>
<td>
</table>
<table>
<td class="lunch">  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :withdrink %><br />
    <%= f.check_box :withdrink %>
  </div>
  <div class="field">
    <%= f.label :genre_id %><br />
    <%= f.collection_select( :genre_id, @genres, :id, :name, :include_blank => true ) %>
  </div>
</td>
</table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
