<h1>New lunch</h1>

<%= form_for(@lunch) do |f| %>
  <% if @lunch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lunch.errors.count, "error") %> prohibited this lunch from being saved:</h2>

      <ul>
      <% @lunch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :restaurant %><br />
    <%= f.collection_select( :restaurant_id, @restaurants, :id, :name ) %>
  </div>
  <div class="field">
    <%= f.label :lunch %><br />
    <%= f.text_field :name, { :size => 60, :maxlength => 256 } %>
  </div>
  <div class="field">
    <%= f.label :proce %><br />
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :genre %><br />
    <%= f.collection_select( :genre_id, @genres, :id, :name ) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', summary_lists_path %>
