<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @lunch.name %>
</p>

<p>
  <b>Price:</b>
  <%= @lunch.price %>
</p>

<p>
  <b>Genre:</b>
  <% if @lunch.genre %>
    <%= @lunch.genre.name %>
  <% end %>  
</p>

<%= link_to 'Edit', edit_lunch_path(@lunch) %> |
<%= link_to 'ランチ一覧に戻る', lunches_path %>
<br />
<br />
<%= link_to 'ランチ検索に行く', {:controller => "summary_lists"} %>
