<h1>ランチ情報</h1>
<div id="menu">
  <ul>
   <li><%= link_to 'TOP', {:controller => "summary_lists"} %></li>
  </ul>
</div>
<p id="notice"><%= notice %></p>

<%= render "restaurant" %>

<table class="lunch">
  <tr>
    <td class="tdh">
      <%= label :lunch, :name %>
    </td>
    <td>
      <%= @lunch.name %>
    </td>
  </tr>

  <tr>
    <td class="tdh">
      <%= label :lunch, :image %>
	</td>
    <td>
      <%= image_tag @lunch.image_url.to_s ,:height=>"300"%>
    </td>
  </tr>

  <tr>
    <td class="tdh">
      <%= label :lunch, :price %>
	</td>
    <td>
      <%= @lunch.price %>
    </td>
  </tr>


  <tr>
    <td class="tdh">
      <%= label :lunch, :genre_id %>
	</td>
    <td>
      <% if @lunch.genre %>
        <%= @lunch.genre.name %>
      <% end %>  
    </td>
  </tr>
</table>