<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @lunch.name %>
</p>

<p>
  <b>Price:</b>
  <%= @lunch.price %>
</p>


<%= link_to 'Edit', edit_lunch_path(@lunch) %> |
<%= link_to 'Back', lunches_path %>
