<p id="notice"><%= notice %></p>

<p>
  <b>ランチ名</b>
  <%= @lunch.name %>
</p>

<p>
  <b>価格</b>
  <%= @lunch.price %>
</p>

<p>
  <b>ジャンル</b>
  <% if @lunch.genre %>
    <%= @lunch.genre.name %>
  <% end %>  
</p>

<br />
<%= link_to '検索・一覧画面へ', {:controller => "summary_lists"} %>
