<h1>ランチ情報</h1>
<div id="menu">
  <ul>
   <li><%= link_to 'TOP', {:controller => "summary_lists"} %></li>
  </ul>
</div>
<p id="notice"><%= notice %></p>
<table class="restaurant">
<td>
  <div class="field">
  <b><%= label :restaurant, :name %>:</b><br>
    <%= @restaurant.name %>
  </div>
</td>
</table>
<table>
<td class="lunch">
<p>
  <b><%= label :lunch, :name %>:</b>
  <%= @lunch.name %>
</p>

<p>
  <b><%= label :lunch, :price %>:</b>
  <%= @lunch.price %>
</p>

<p>
  <b><%= label :lunch, :genre_id %>:</b>
  <% if @lunch.genre %>
    <%= @lunch.genre.name %>
  <% end %>  
</p>
</TD>
</table>

