<p id="notice"><%= notice %></p>

<p>
  <b>ランチ名</b>
  <%= @lunch.name %>
</p>

<p>
  <b>価格</b>
  <%= @lunch.price %>
</p>

<p>
  <b>ジャンル</b>
  <% if @lunch.genre %>
    <%= @lunch.genre.name %>
  <% end %>  
</p>

<br />
<%= link_to 'ランチ検索に行く', {:controller => "summary_lists"} %>
