<p id="notice"><%= notice %></p>

<p>
  <b><%= label :lunch, :name %>:</b>
  <%= @lunch.name %>
</p>

<p>
  <b><%= label :lunch, :price %>:</b>
  <%= @lunch.price %>
</p>

<p>
  <b><%= label :lunch, :genre_id %>:</b>
  <% if @lunch.genre %>
    <%= @lunch.genre.name %>
  <% end %>  
</p>

<br />
<%= link_to '検索・一覧画面へ', {:controller => "summary_lists"} %>
