<%= form_for(@launch_coment) do |f| %>
  <% if @launch_coment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@launch_coment.errors.count, "error") %> prohibited this launch_coment from being saved:</h2>

      <ul>
      <% @launch_coment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :launch_coment_text %><br />
    <%= f.text_area :launch_coment_text %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
