<<<<<<< HEAD
<%= favicon_link_tag %>

<table>
=======
<table class="restrantTable">
>>>>>>> nagahashi/master
  <% old_restaurantid = -1 %>
  <% old_lunchid = -1 %>
  
  <% if !(@ary == nil || @ary.length == 0) %>
    <thead class="restrantTable">
      <tr bgcolor="#A9A9A9">
        <th align="center" colspan="2" style="font-weight:bold">レストラン</th>
        <th align="center" colspan="2" style="font-weight:bold">ランチ</th>
        <th align="center" colspan="2" style="font-weight:bold">コメント</th>
      </tr>
    </thead>
  <% end %>

  <tbody>
  <% @ary.each do |restaurant, lunch, lunch_comment| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      </td >
      <td class="list_actions" width="50">
      <% if restaurant.id != old_restaurantid %>
        <%= link_to image_tag("Info.ico", :border=>0, :alt=>"詳細", :size=>"16x16"), restaurant %>
        <%= link_to image_tag("Edit.ico", :border=>0, :alt=>"編集", :size=>"16x16"), edit_restaurant_path(restaurant) %>
      <% end %>
      </td>
      <td class="info_restaurant">
      <% if restaurant.id != old_restaurantid %>
        <dl>
          <dt><%= truncate(restaurant.name, {:length => 40}) %></dt>
          <dd>
              <% if restaurant.congestion %>
                ( 混雑度：<%= restaurant.congestion.name %> )
              <% else %>
                ( 混雑度：未登録 )
              <% end %>
          </dd>
          <% unless restaurant.postcode.nil? %>
            <dd>〒<%= truncate(restaurant.postcode, {:length => 8}) %></dd>
          <% end %>
          <dd><%= truncate(restaurant.address, {:length => 40}) %></dd>
          <dd><%= restaurant.startTime.strftime('%H:%M') %> ～ <%= restaurant.endTime.strftime('%H:%M') %></dd>
        </dl>
      <% end %>
      <td class="list_actions" width="50">
        <% unless lunch.nil? %>
          <% if lunch.id != old_lunchid %>
            <%= link_to image_tag("Info.ico", :border=>0, :alt=>"詳細", :size=>"16x16"), lunch %>
            <%= link_to image_tag("Edit.ico", :border=>0, :alt=>"編集", :size=>"16x16"), edit_lunch_path(lunch) %>
            <%= link_to image_tag("New_Lunch.ico", :border=>0, :alt=>"新規", :size=>"16x16"), {:controller => "lunches", :action => "new2", :id => restaurant.id} %>
          <% end %>
        <% else %>
           <%= link_to image_tag("New_Lunch.ico", :border=>0, :alt=>"新規", :size=>"16x16"), {:controller => "lunches", :action => "new2", :id => restaurant.id} %><br />
      <% end %>
      </td>
      <td class="info_lunch">
        <dl>
          <% if lunch.nil? %>
            <dt>（未登録）</dt>
          <% else %>
            <% if lunch.id != old_lunchid %>
              <dt><%= truncate(lunch.name, {:length => 60}) %></dt>
              <dd><%= lunch.genre.name %></dd>
              <dd><%= number_to_currency(lunch.price, :unit => '円', :precision =>0, :format => '%n%u') %></dd>
            <% end %>
          <% end %>
        <dl>
      </td>
      <td class="list_actions" width="50">
        <% unless lunch.nil? %>
          <% unless lunch_comment.nil? %>
            <%= link_to image_tag("Info.ico", :border=>0, :alt=>"詳細", :size=>"16x16"), lunch_comment %>
            <%= link_to image_tag("Edit.ico", :border=>0, :alt=>"編集", :size=>"16x16"), edit_lunch_comment_path(lunch_comment) %>
          <% end %>
            <%= link_to image_tag("New_Comment.ico", :border=>0, :alt=>"新規", :size=>"16x16"), {:controller => "lunch_comments", :action => "new", :id => lunch.id} %>
        <% end %>
      </td>
      <td class="info_lunch_comment">
        <dl>
        <% if lunch_comment.nil? %>
          <dt>（未評価）</dt>
        <% else %>
          <dt>評価  <%= lunch_comment.rating.name %></dt>
          <dd><%= truncate(lunch_comment.name, {:length => 50}) %></dd>
          <dd><%= truncate(lunch_comment.text, {:length => 60}) %></dd> 
          <dd>(<%= display_time(lunch_comment.updated_at) %>)</dd>
       <% end %>
        <dl>
      </td>
    </tr>
   <% unless restaurant.nil? %>
     <% old_restaurantid = restaurant.id %>
   <% end %>
   <% unless lunch.nil? %>
     <% old_lunchid = lunch.id %>
   <% end %>
  <% end %>
  </tbody>
</table>
</div>
