<h1>レストラン検索</h1>

<%= form_tag "/summary_lists/search" do %>
  <b>店名</b>
  <%= text_field :search, :restaurantName %><br />
  <b>住所</b>
  <%= text_field :search, :address %><br />
  <b>予約可否</b>
  <% if @search_reservation %>
    <%= check_box :search, :reservation, {:checked => true}, true, false %>
  <% else %>
    <%= check_box :search, :reservation, {:checked => false}, true, false %>
  <% end %>
  <b>ジャンル</b>
  <%= collection_select(:search, :genre_id, @genres, :id, :name, :include_blank => true) %>
  <b>評価</b>
  <%= collection_select(:search, :rating_id, @ratings, :id, :name, :include_blank => true) %>
  <br />
  <br />
  <%= submit_tag "検索" %>
<% end %>

<br>
<br>
<%= link_to '新しいお店を登録', {:controller => "restaurants", :action => "new"} %>
<br>
<br>

<%= render 'list' %>


<br>
<%= link_to '新しいお店を登録', {:controller => "restaurants", :action => "new"} %>
<br>


</form>
